body {
    background-color: beige;
    margin: 0px auto;
    text-align: center;
}

header {
   margin: 32px 32px;
}

/* this is a bit hacky - using a fixed width because there's some weird added negative space on the left before About */
nav {
    background-color:#ffffff;
    display: inline-block;
    width: 360px;
    padding: 2px;
    border-radius: 60px;
    margin: 16px 16px;
    text-align: left;
    box-shadow: 0 0 16px rgba(162, 57, 0, 0.25);
}

li{
    display: inline-block;
    font-family: 'Poppins Extrabold', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding: 0 8px;
    transition: 0.2ms ease-in-out;
}

a {
    color:#ff5900;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    color:#a23900;
}

h1 {
    font-family: 'Poppins Extrabold', Helvetica, Arial, sans-serif;
    font-size: 80px;
    color: #ff5900;
    margin-bottom: -30px;
}

h2 {
    font-family: 'Poppins ExtraBold', Futura, Helvetica, Arial,  sans-serif;
    font-size: 48px;
    text-align: left;
    font-weight:bold;
    color: #ff5900;
    margin-bottom: 4px;
}

h3 {
    font-family: 'Poppins ExtraBold', Futura, Helvetica, Arial,  sans-serif;
    font-size: 32px;
    font-weight:bold;
    color: #a23900;
    margin-bottom: 4px;
}

hr {
    border: solid 1px #ff5900;
    width: 450px;
    margin: 0 auto;
}

/* styling for the image - edited it so it wasn't massive. scaling it in CSS changes the appearance but keeps the space of the original size! */
/* was going mad wondering why there was huge space around it */
.portrait {
    border-radius: 50%;
    text-align:left;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin-top: 24px;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    color: #a23900;
    font-size: 20px;
    max-width: 600px;
    text-align: left;
}

section {
    padding: 16px;
    max-width: 600px;
    margin: 0px auto;
}

article {
    background-color: #ffffff;
    padding: 8px 24px;
    margin: 16px;
    border-radius: 40px;
    box-shadow: 0 0 16px rgba(162, 57, 0, 0.25);
    transition: all 0.2s ease-in-out;
}

article:hover {
    scale: 0.95;
}

article:active {
    color: #ffffff;
    background-color: #ff8f53;
   
}

article img {
    width: 80%;
    border-radius: 200%;
    margin-top: 16px;
}

label {
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-size: 15px;
    max-width: 700px;
}

/* this is the form I was working on for the exercise in w2 and I got a bit carried away */
form {
    text-align: left;
    margin-left: 24px;
}

button {
    padding: 8px 24px;
    border: none;
    background-color: #ff5900;
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
    margin: 16px 0px;
    box-shadow: 6px 6px 0 #a23900;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
}

button:hover {
    background-color: #a23900;
    box-shadow: 0px 0px 0 #a23900;
    
}

button:active {
    background-color: #000000;
    scale: 0.95;
}

input {
    margin: 8px 0px;
    padding: 8px 8px;
    width: 266px;
    border: 2px dashed;
} 

input:focus {
   box-shadow: 0 0 16px rgba(255, 89, 0, 0.5);
}

textarea:focus {    
   box-shadow: 0 0 16px rgba(255, 89, 0, 0.5);
}

select:focus {
    box-shadow: 0 0 16px rgba(255, 89, 0, 0.5);
}

input:required {
    border: 2px solid;
}

/* Using pseudo elements to show validation errors for required email field */
input + span {
    position: relative;
}

input + span:before{
    position: absolute;
    right: -25px;
    top: 1px;
}

input:invalid {
    border: 2px solid #a23900;
}

input:invalid + span:before {
    content: "❌";
}

input:valid + span:before {
    content:"✅";
}

label {
    margin: 0 10px 10px 0;
}

/* This is my pseudo element for adding a red asterisk to indicate which field is required */
.email-label:after {
    content: "✱";
    margin-left: 4px;
    font-size: 16px;
    color:#ff5900;
}

textarea {
    resize: none;
    width: 430px;
    margin-top: 10px;
    padding: 8px;
    border: 2px dashed;
}

select {
    padding: 8px 8px;
    margin: 20px 0 20px 0;
    width: 200px;
    border-width: 2px;
}

/* This is my pseudo element for adding a red asterisk before the disclaimer text, using it like a key to explain*/
.disclaimer {
    font-size: 16px;
}

.disclaimer:before {
    content: "✱";
    margin-right: 4px;
    font-size: 16px;
    color:#ff5900;
}

footer {
    padding: 24px;
    margin: 0px auto;
    text-align: center;
}

/* using h4 for copyright in footer, as p can't be centered - need to get my head around classes and ids properly later*/
h4 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color:#a23900;
    font-size: 20px;
    font-weight: 500;
}