body {
    background-color: beige;
    margin: 0px auto;
    text-align: center;
}

header {
   margin: 32px 32px;
}

/* this is a bit hacky - using a fixed width because there's some weird added negative space on the left before About */
nav {
    background-color:#ffffff;
    display: inline-block;
    width: 360px;
    padding: 2px;
    border-radius: 60px;
    margin: 16px 16px;
    text-align: left;
    box-shadow: 0 0 16px rgba(162, 57, 0, 0.25);
}

li{
    display: inline-block;
    font-family: 'Poppins Extrabold', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
    padding: 0 8px;
    transition: 0.2ms ease-in-out;
}

a {
    color:#ff5900;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    color:#a23900;
}

h1 {
    font-family: 'Poppins Extrabold', Helvetica, Arial, sans-serif;
    font-size: 80px;
    color: #ff5900;
    margin-bottom: -30px;
}

h2 {
    font-family: 'Poppins ExtraBold', Futura, Helvetica, Arial,  sans-serif;
    font-size: 48px;
    text-align: left;
    font-weight:bold;
    color: #ff5900;
    margin-bottom: 4px;
}

h3 {
    font-family: 'Poppins ExtraBold', Futura, Helvetica, Arial,  sans-serif;
    font-size: 32px;
    font-weight:bold;
    color: #a23900;
    margin-bottom: 4px;
}

hr {
    border: solid 1px #ff5900;
    width: 450px;
    margin: 0 auto;
}

/* styling for the image - edited it so it wasn't massive. scaling it in CSS changes the appearance but keeps the space of the original size! */
/* was going mad wondering why there was huge space around it */
.portrait {
    border-radius: 50%;
    text-align:left;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

p {
    font-family: Helvetica, Arial, sans-serif;
    color: #a23900;
    font-size: 20px;
    max-width: 600px;
    text-align: left;
}

section {
    padding: 16px;
    max-width: 600px;
    margin: 0px auto;
}

article {
    background-color: #ffffff;
    padding: 8px 16px;
    margin: 16px;
    border-radius: 40px;
    box-shadow: 0 0 16px rgba(162, 57, 0, 0.25);
    transition: all 0.2s ease-in-out;
}

article:hover {
    scale: 0.95;
}

article:active {
    color: #ffffff;
    background-color: #ff8f53;
   
}

label {
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-size: 15px;
    max-width: 700px;
}
